services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - '3000:3000'
    environment:
      - VITE_API_URL=http://localhost:5001/api
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./backend/uploads:/app/uploads
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgres://user:password@postgres:5432/mydb
    ports:
      - '5001:5000'
  postgres:
    ports:
      - '5433:5432'
